<form class="form-horizontal" ng-controller="resetPasswordController" ng-submit="resetPassword(userForm.$valid)" novalidate
      name="userForm">
    <header id="formHeader">
        Reset User Password
    </header>
    <hr>
    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine || userForm.password.$error.required && submitted}">
        <label class="col-sm-3 control-label">Old password:</label>

        <div class="col-sm-9">
            <input type="password" name="password" class="form-control" ng-model="old_password" ng-minlength="6" required >
            <p ng-show="userForm.password.$error.required && submitted" class="help-block">Password is required.</p>
            <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine || userForm.password.$error.required && submitted}">
        <label class="col-sm-3 control-label">New password:</label>

        <div class="col-sm-9">
            <input type="password" name="password" class="form-control" ng-model="new_password1" ng-minlength="6" required >
            <p ng-show="userForm.password.$error.required && submitted" class="help-block">Password is required.</p>
            <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && !userForm.passwordConfirm.$pristine || userForm.passwordConfirm.$error.required && submitted}">
        <label class="col-sm-3 control-label">Confirm new password:</label>

        <div class="col-sm-9">
            <input type="password" name="passwordConfirm" class="form-control" ng-model="new_password2" user-password="userForm.password"  required>
            <p ng-show="userForm.passwordConfirm.$error.required && submitted" class="help-block">Confirm password is required.</p>
            <p ng-show="userForm.passwordConfirm.$error.userPassword" class="help-block">Passwords don't match.</p>
        </div>
    </div>
    <div class="form-group" >
        <div class="col-sm-offset-3 col-sm-3">
            <button type="submit" class="btn btn-primary form-btn" >Save</button>
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default form-btn" onclick="window.history.back()" >Cancel</button>
        </div>
    </div>
</form>
