<aside id="right-panel">

    <div class="p-h-20">

        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" ng-init="actionTab=1">
                <li role="presentation" class="active"><a ng-click="actionTab=1"
                                                          aria-controls="home" role="tab"
                                                          data-toggle="tab">History</a></li>
                <li role="presentation" class=""><a ng-click="actionTab=2" aria-controls="home"
                                                    role="tab" data-toggle="tab">Timeline</a>
                </li>
                <li role="presentation"><a ng-click="actionTab=3" aria-controls="home"
                                           role="tab" data-toggle="tab">Details</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content m-t-10">
                <div role="tabpanel" class="tab-pane active" ng-class="{active: actionTab==1}">

                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge">
                                <i class="icon-circle theme-border"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Bug</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>A new bug was added to backlog</p>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge">
                                <i class="icon-circle theme-secondary-border"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Team capacity</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Team capacity reduced to 157 hours</p>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge">
                                <i class="icon-circle green-border"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Feature request</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>A new feature request was added to the backlog</p>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge">
                                <i class="icon-circle red-border accent-1"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Bug report</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>A new bug was added to the backlog</p>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge">
                                <i class="icon-circle theme-border"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Team capacity</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Team capacity increased to 184</p>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge">
                                <i class="icon-circle brown-border"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Bug report</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>A new bug was added to backlog</p>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==2}">

                    <ul class="timeline" ng-init="(rows=[]).length=5;">
                        <!-- ngRepeat: i in rows track by $index -->
                        <li ng-repeat="i in rows track by $index" class="ng-scope">
                            <div class="timeline-badge"><img placeholder-img=""
                                                             class="img-responsive"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title" placeholder-name=""></h4>
                                </div>
                                <div class="timeline-body">
                                    <span placeholder-p=""></span>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <!-- end ngRepeat: i in rows track by $index -->
                        <li ng-repeat="i in rows track by $index" class="ng-scope">
                            <div class="timeline-badge"><img placeholder-img=""
                                                             class="img-responsive"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title" placeholder-name=""></h4>
                                </div>
                                <div class="timeline-body">
                                    <span placeholder-p=""></span>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <!-- end ngRepeat: i in rows track by $index -->
                        <li ng-repeat="i in rows track by $index" class="ng-scope">
                            <div class="timeline-badge"><img placeholder-img=""
                                                             class="img-responsive"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title" placeholder-name=""></h4>
                                </div>
                                <div class="timeline-body">
                                    <span placeholder-p=""></span>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <!-- end ngRepeat: i in rows track by $index -->
                        <li ng-repeat="i in rows track by $index" class="ng-scope">
                            <div class="timeline-badge"><img placeholder-img=""
                                                             class="img-responsive"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title" placeholder-name=""></h4>
                                </div>
                                <div class="timeline-body">
                                    <span placeholder-p=""></span>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <!-- end ngRepeat: i in rows track by $index -->
                        <li ng-repeat="i in rows track by $index" class="ng-scope">
                            <div class="timeline-badge"><img placeholder-img=""
                                                             class="img-responsive"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title" placeholder-name=""></h4>
                                </div>
                                <div class="timeline-body">
                                    <span placeholder-p=""></span>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <!-- end ngRepeat: i in rows track by $index -->
                    </ul>

                </div>
                <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==3}">

                    <ul class="timeline" ng-init="(rows=[]).length=5;">
                        <!-- ngRepeat: i in rows track by $index -->
                        <li ng-repeat="i in rows track by $index" class="ng-scope">
                            <div class="timeline-badge" placeholder-icon=""></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title" placeholder-name=""></h4>
                                </div>
                                <div class="timeline-body">
                                    <span spanlaceholder-p=""></span>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <!-- end ngRepeat: i in rows track by $index -->
                        <li ng-repeat="i in rows track by $index" class="ng-scope">
                            <div class="timeline-badge" placeholder-icon=""></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title" placeholder-name=""></h4>
                                </div>
                                <div class="timeline-body">
                                    <span spanlaceholder-p=""></span>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <!-- end ngRepeat: i in rows track by $index -->
                        <li ng-repeat="i in rows track by $index" class="ng-scope">
                            <div class="timeline-badge" placeholder-icon=""></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title" placeholder-name=""></h4>
                                </div>
                                <div class="timeline-body">
                                    <span spanlaceholder-p=""></span>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <!-- end ngRepeat: i in rows track by $index -->
                        <li ng-repeat="i in rows track by $index" class="ng-scope">
                            <div class="timeline-badge" placeholder-icon=""></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title" placeholder-name=""></h4>
                                </div>
                                <div class="timeline-body">
                                    <span spanlaceholder-p=""></span>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <!-- end ngRepeat: i in rows track by $index -->
                        <li ng-repeat="i in rows track by $index" class="ng-scope">
                            <div class="timeline-badge" placeholder-icon=""></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title" placeholder-name=""></h4>
                                </div>
                                <div class="timeline-body">
                                    <span spanlaceholder-p=""></span>
                                    <small class="text-muted"><i class="fa fa-clock"></i> 11
                                        hours ago
                                    </small>
                                </div>
                            </div>
                        </li>
                        <!-- end ngRepeat: i in rows track by $index -->
                    </ul>

                </div>
            </div>
        </div>
    </div>

</aside>