<header id="header">
    <div id="logo-group">
        <span id="logo"> <img src="assets/img/logo.png" alt="Pegula"> </span>
        </span>
    </div>

    <div class="col col-10 pull-left">
        <form action="#/search" class="header-search pull-left">
            <input id="search-fld" class="header-search pull-right" type="text" name="param" placeholder="Search..."
                   data-autocomplete='[
					"ActionScript",
					"AppleScript",
					"Asp",
					"BASIC",
					"C",
					"C++",
					"Clojure",
					"COBOL",
					"ColdFusion",
					"Erlang",
					"Fortran",
					"Groovy",
					"Haskell",
					"Java",
					"JavaScript",
					"Lisp",
					"Perl",
					"PHP",
					"Python",
					"Ruby",
					"Scala",
					"Scheme"]'>
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
            <a href="$" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
        </form>

        <div id="search-mobile" class="btn-header transparent pull-left" data-search-mobile>
            <span> <a href="#" title="Search"><i class="fa fa-search"></i></a> </span>
        </div>

    </div>

    <div class="col col-4 pull-right">
        <div login-info></div>

    </div>


</header>